/* Author: Ryker Swensen
Last Modified Date: 8/30/2023
Owner: Nathan Birch & BYU-Idaho
For Use By: BYU-Idaho Faculty and Teacher Assistants.
Modyfing the code without the consent of the owner is prohibited and against the honor code. */

/* This is the css style file for the view page. */

.card {
    width: 30%;
    display: flex;
    flex-direction: column;
    border: 1px red solid;
    align-content: center;
    margin: 0 auto;
}

.card-header {
    height: 30%;
    background: #5d6770;
    color: white;
    text-align: center;
}

.card-header {
    font-size: 20px;
}

.container {
    padding: 4px 16px;
}