/* Author: Ryker Swensen
Last Modified Date: 8/30/2023
Owner: Nathan Birch & BYU-Idaho
For Use By: BYU-Idaho Faculty and Teacher Assistants.
Modyfing the code without the consent of the owner is prohibited and against the honor code. */

/* This file is the style css for the app component. */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
